* {
	margin: 0;
	box-sizing: border-box; 
	font-family: 'Pacifico', cursive;

}

body {
	min-height: 100vh;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation-name: move;
	animation-iteration-count: infinite;
	animation-duration: 8s;
}

@keyframes move {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%;
	}
	100%{
		background-position: 100% 100%;
	}
}
.wrapper-header {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 2em

}
.wrapper {
	background-color: black;
	max-width: 1200px;
	margin: 0 auto;
	
}

.header {
	border-radius: 30px 30px 0px 0px;
	margin-top: 2em;
}
#logo {
	width: 120px;
	height: auto;
	margin:1em 2em;
}
.name {
	color: white;
}
.header > * {
	color: #f4eb42;
	display: inline-block;
	font-family: <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=cyrillic" rel="stylesheet">
} 
.nav ul > * {
	display: inline-block;
	text-align: center;
}
.nav ul li a {
 color: red;
 font-size: 1.5em;
 margin: 5em 1em;
}
.nav ul li a:hover {
	color: white;
	text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #01cccc, -15px 15px 0px #00bdbd;
	transition: all 1s;

}
.secret {
	color: black;
}
.secret:hover {
	color: white;
	transition: all 1s;
}
.about {
	color: white;
	display: inline-block;
	border:2px solid white;
	margin: 1em 2.3%;
	border-radius:20px;
	padding:1em 2em;
	width: 45%;
}
.photo {
padding:1em;
}
.photo img {
	border-radius: 20px;
	width: 100%;
	display: inline-block;
}
main > * {
	vertical-align: top;
}
.image {
	height: 100%;
	width: 75%;
}

.footer {
	border-radius: 0 0 30px 30px;
	color: #fff;
	text-align: center;
	padding: 1em;
	font-size: 1.5em
}
.footer a {
	color: #fff;
}

@media screen and (max-width: 768px) {
	body{
		padding: 1em 0.5em;
		margin:0 auto;
	}
	.header div {
		padding: .75em;
	}
	.about {
		width: 100%;
		display:block;
		font-size: 2em;
		margin: 0;
	}
}
@media screen and (max-width: 1200px){
	.wrapper {
		max-width: 95%;
	}
}